.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

    &__content {
        padding: 20px;
        border-radius: 15px;
        background-color: #161516;
        height: 15vw;
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__active {
        opacity: 1;
        pointer-events: all;
    }
}

p {
    color: #D58C51;
    font-size: 22px;
}