.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    max-height: calc(100vh - 173px);
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.link {
    color: inherit;
    text-decoration: inherit;
}